@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
   --primaria1:hsl(215, 51%, 70%);
   --primaria2:hsl(178, 100%, 50%);
   --neutro1:hsl(217, 54%, 11%);
   --neutro2:hsl(216, 50%, 16%);
   --neutro3:hsl(215, 32%, 27%);
   --neutro4:hsl(0, 0%, 100%);
   --fontnormal: font-family: 'Outfit', sans-serif;
}


* {
   margin: 0;
   padding: 0;
}

body {
   width: 100vw;
   height: 100vh;
   max-width: 100%;
   background-color: var(--neutro1);
}

.container {
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
}

.content {
   display: flex;
   height: 65%;
   width: 17%;
   background: var(--neutro2);
   border-radius: 9px;
   box-shadow: -10px 10px 10px var(--neutro1);
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.textcontent {
   display: flex;
   flex-wrap: wrap;
   width: 86%;
}

#img {
   width: 86%;
   height: 47%;
   border-radius: 9px;
   background: red;
   overflow: hidden;
}

img {
   width: 100%;
   height: 100%;
}

h2 {
   font-family: var(--fontnormal);
   font-size: 1.1rem;
}

p {
   font-family: var(--fontnormal);
   font-size: 1.0rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }